# +40 python Tips and Tricks Every Developer Should know

# 1. Swap Operation

In [27]:
# swap operation
a, b = 1, 2
a, b = b, a
print('\n', "a=",  a, "b=",  b)

 a= 2 b= 1

# 2. Assign List
a ==> 1 (first elecment in the list)

c ==> 5 (Last items in the list)

b ==> the numbers between them as list [2,3,4]

In [28]:
a, *b , c = [1, 2, 3, 4, 5]
print('\n', a, b, c)

 1 [2, 3, 4] 5

# 3. Print Format

In [29]:
name =' SAIF'
age = 32

# format 1
print ("my Name is {} and my age is {}".format(name, age))

# format 2 ==> esier
print(f"my Name is {name} and my age is {age}")

my Name is  SAIF and my age is 32
my Name is  SAIF and my age is 32

# 4. Multi Line string

In [30]:
# use \
str1 = "Hi, I am SAIF ALMALIKI, I am \
computer engineer came from iraq"
print(str1)

# use """
str2 = """Hi, I am SAIF ALMALIKI, I am computer 
engineer from Iraq"""
print(str2)

# using (" ") in each line
str3 = ("Hi, I am SAIF ALMALIKI, I am computer "
        "engineer from Iraq, studying Master "
        "degree in Germany")
print(str3)

Hi, I am SAIF ALMALIKI, I am computer engineer came from iraq
Hi, I am SAIF ALMALIKI, I am computer
engineer from Iraq
Hi, I am SAIF ALMALIKI, I am computer engineer from Iraq, studying Master degree in Germany

# 5. List

In [31]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print('\n', a[-4:-2])

 [7, 8]

In [32]:
# print every 2 steps
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print('\n', a[::2])

 [0, 2, 4, 6, 8, 10]

In [33]:
# Revershe the list
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print('\n', a[::-1])

 [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [34]:
# Revershe the list every 2 steps
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print('\n', a[::-2])

 [10, 8, 6, 4, 2, 0]

In [35]:
# insert 2 zeros instead of index 2
a = [1, 2, 3, 4, 5]
a[2:3] = [0,0]
print('\n', a)

 [1, 2, 0, 0, 4, 5]

In [36]:
# Find the most frequent value in a list ==> which is number 4
a = [1, 2, 3, 4, 2, 2, 3, 1, 4, 4, 4]
print(max(set(a), key=a.count))

4

# Permutations

In [37]:
# show all possiblities of a list
a = [1, 2, 3, 4]

import itertools
for p in itertools.permutations(a):
    print(p, " > ", ''.join(str(x) for x in p))

(1, 2, 3, 4)  >  1234
(1, 2, 4, 3)  >  1243
(1, 3, 2, 4)  >  1324
(1, 3, 4, 2)  >  1342
(1, 4, 2, 3)  >  1423
(1, 4, 3, 2)  >  1432
(2, 1, 3, 4)  >  2134
(2, 1, 4, 3)  >  2143
(2, 3, 1, 4)  >  2314
(2, 3, 4, 1)  >  2341
(2, 4, 1, 3)  >  2413
(2, 4, 3, 1)  >  2431
(3, 1, 2, 4)  >  3124
(3, 1, 4, 2)  >  3142
(3, 2, 1, 4)  >  3214
(3, 2, 4, 1)  >  3241
(3, 4, 1, 2)  >  3412
(3, 4, 2, 1)  >  3421
(4, 1, 2, 3)  >  4123
(4, 1, 3, 2)  >  4132
(4, 2, 1, 3)  >  4213
(4, 2, 3, 1)  >  4231
(4, 3, 1, 2)  >  4312
(4, 3, 2, 1)  >  4321

# Chain

In [38]:
# Get a single list from many sublist
a = [[1, 2], [3, 4], [5, 6], [7, 8]]

import itertools
print(list(itertools.chain.from_iterable(a)))

[1, 2, 3, 4, 5, 6, 7, 8]

In [39]:
# unify the list containing lists and tuples (Collapse)
a = [[-1, -2], [1, 2, 3, [4, (5, [6, 7])]], [25, 35]]

import more_itertools
print(list(more_itertools.collapse(a)))

[-1, -2, 1, 2, 3, 4, 5, 6, 7, 25, 35]

# Anagrams

In [40]:
from collections import Counter

# count the frequent of each character in a word
print (Counter('geeks'))

# Saame characters in tow words
print ("Have the same words: ", Counter('geek') == Counter('eegk'))

# different characters in two words
print ("Have the same words: ", Counter('geek') == Counter('peek'))

Counter({'e': 2, 'g': 1, 'k': 1, 's': 1})
Have the same words:  True
Have the same words:  False

# Heapq

In [41]:
# Get smallest or largest numbers of a list

import random
import heapq

# Generate a list of random numbers
a = [random.randint(0, 100) for _ in range(100)]

# print the smallest 5 number in the list
print(heapq.nsmallest(5, a))

# print the highest 5 number in the list
print(heapq.nlargest(5, a))

[0, 0, 2, 5, 6]
[99, 98, 98, 97, 96]

# Dictionary

In [42]:
# collect 2 dictionaries in one single dictionary
x = {'a':'1', 'b':'2'}
y = {'c':'3', 'd':'4'}
z={**x, **y}
print(z)

{'a': '1', 'b': '2', 'c': '3', 'd': '4'}

In [43]:
# convert 2 tuples to a single dictionary
t1 = (1, 2, 3)
t2 = (100, 200, 300)
z= dict(zip(t1, t2))
print(z)

{1: 100, 2: 200, 3: 300}

In [44]:
# Generate a set
test_set = {i * 2 for i in range(10)}
print("Generated set", test_set)

# generate dict
test_dict = {i: i *5 for i in range(10)}
print("Generated dict", test_dict)

Generated set {0, 2, 4, 6, 8, 10, 12, 14, 16, 18}
Generated dict {0: 0, 1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45}

In [45]:
# Store expressions inside dict
calc= {
    'sum': lambda x,y: x+y,
    'sub': lambda x,y: x-y
}

print(calc['sum'](9,3))
print(calc['sub'](9,3))

12
6

# Passinge Values to Vectors

In [46]:
def myfunc(x, y, z):
    print(x, y, z)
    
tuple_vec = (1,0,1)
dict_vec = {'x': 1, 'y':0, 'z': 1}

print(tuple_vec)    # print the tuple vector as vector
print(*tuple_vec)   # print only the values of tuple

myfunc(*tuple_vec)  # send only the velues of tuple to the function 
myfunc(**dict_vec)  # send only the values of dictionary to the function

(1, 0, 1)
1 0 1
1 0 1
1 0 1

In [47]:
# Two lines of code with lambda
add = lambda x,y: x+y
print("Two lines of code:", add(5,3))

# single line of code with lambda
print("Single line of code:",(lambda x,y:x+y)(5,3))

Two lines of code: 8
Single line of code: 8

# shortcut for if-else statemsnt

In [48]:
# if m > 5 ==> m**2
# if m <=5 ==> m**4
print ([m**2 if m > 5 else m**4 for m in range(10)])

[0, 1, 16, 81, 256, 625, 36, 49, 64, 81]

In [49]:
# if y==9 ==> x = 10 else x = 20
y=6
x = 10 if (y==9) else 20
print (x)

20

In [50]:
# find the smallest
x, y = 23, 50
smallest = x if x < y else y
print(smallest)

23

In [51]:
# store even number only in range (1,11)
evenList = [i for i in range(1, 11) if i % 2 ==0]
print(evenList)

[2, 4, 6, 8, 10]

# Imported Library path

In [52]:
# Print the path of imported library
import threading
print(threading)

<module 'threading' from 'C:\\Users\\saif\\Anaconda3\\lib\\threading.py'>

In [53]:
import socket
print(socket)

<module 'socket' from 'C:\\Users\\saif\\Anaconda3\\lib\\socket.py'>

# Reverse the List/ String

In [54]:
print("I love python"[::-1])

nohtyp evol I

# Enumeration

In [55]:
# print the index and value of a List

my_list=[1,2,3,4,5,6,7,8,9,10]
for i , value in enumerate(my_list):
    print(i, '==>', value)

0 ==> 1
1 ==> 2
2 ==> 3
3 ==> 4
4 ==> 5
5 ==> 6
6 ==> 7
7 ==> 8
8 ==> 9
9 ==> 10

In [56]:
# start the index from 2
print(list(enumerate("abcdef", 2)))

[(2, 'a'), (3, 'b'), (4, 'c'), (5, 'd'), (6, 'e'), (7, 'f')]

In [57]:
# Add range to variable
x , y, z , w = range(4)
print(x, y, z, w)

0 1 2 3

# Zipping Two List

In [58]:
list1 = ['a', 'b', 'c', 'd', 'e', 'f']
list2 = [4, 6, 5, 3, 5, 8]
for x, y in zip(list1, list2):
    print(x, y)

a 4
b 6
c 5
d 3
e 5
f 8

In [59]:
# Dir: Get all available function that can apply on this type
list1=['a', 5, 9, 'u', 9,'d']
print(dir(list1))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']